body
{
    background-color: #efefef;
}
a
{   
    text-decoration: none;
    color: inherit;
}
h1,h2,h3
{
    font-weight: normal;
}
ul,ol
{
    list-style-type: none;
}
.icon 
{
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
*
{
    margin:0;
    padding: 0;
}
.clearfix::after
{
    content:'';
    display: block;
    clear: both;
}
.topNavBar nav ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}
.topNavBar nav ul li
{
    float: left;
    margin-left:17px;
    margin-right: 17px;
}
.topNavBar nav ul li a
{
    font-size: 12px;
    color: #b7b7b7;
    text-decoration: none;
    font-weight: bold;
    border-bottom:3px solid transparent;
    border-top: 3px solid transparent;
    padding-top:5px;
    padding-bottom:5px;
    display: block;
}
.topNavBar nav ul li a:hover
{
    border-bottom:3px solid #e06567;
}
.topNavBar .logo
{
    float: left;
}
.topNavBar nav
{
    float: right;
    padding-top:6.5px;
    padding-bottom: 1.5px;
}
.topNavBar .logo
{
    font-size: 24px;
    font-family:"Arial Black";
    padding-top: 3.2px;
    padding-bottom: 3.2px;
}
.topNavBar .logo .rs
{
    margin-right: 4px;
    color: #e6686a;
}
.topNavBar .logo .card
{
    color: #929da2;
}
.topNavBar
{
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}
.banner
{
    background-image: url(img/1.jpg);
    height: 515px;
    background-position: center center;
    background-size: cover;
}
.topNavBar-inner
{
    padding-right: 16px;
    padding-left: 16px;
}
.banner .mask
{
    height: 515px;
    background-color: rgba(0, 0, 0, 0.7)
}
.userCard{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.48);
}
.userCard .welcome
{
    background-color: #e6686a;
    color: white;
    display: inline-block;
    padding: 4px 16px;
    line-height: 22px;
    position: relative;
}
.userCard  .welcome .triangle
{
  width:0px;
  border:10px solid transparent;
  border-left-color:#E6686A;
  border-top-width:0;
  display:block;
  position: absolute;
  left:4px;
  top: 100%;
}
.userCard .picture
{
    float: left;
}
.userCard .text
{
    float: left;
    margin-left: 65px;
    width:476px;
}
.userCard .pictureAndText
{
    padding: 50px;
}
.userCard .text h1
{
    margin-top:18px;
}
.userCard hr
{
    margin-top: 20px;
    margin-bottom: 20px;
}
hr
{
    height: 0;
    border: none;
    border-top: 1px solid #dedede;
}
.userCard dl dt,
.userCard dl dd
{
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
}
.userCard dl dt
{
    width: 30%;
    font-weight: bold;
}
.userCard dl dd
{
    width: 70%;
    color: #9da0a7; 
}
footer
{
    background-color: #E6686A;
    text-align: center;
}
.userCard svg
{
    width: 30px;
    height: 30px;
    line-height: 30px;
    fill:white;
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: top;
}
.userCard footer a
{
    display: inline-block;
    border-radius: 50%;
    width: 40px;
    margin:16px 16px;
}
.userCard  a:hover
{
    border-radius: 50%;
    background-color: #cf5d5f;
}
main
{
    margin-top: -320px;
}
.button
{
    font-size: 14px;
    line-height: 14px;
    border:1px solid #cdcfd1;
    display: inline-block;
    padding: 21px 55px;
    background-color: #efefef;
    border-radius: 2px;
    color: #3d4451;
    font-weight: bold;
    transition: box-shadow 0.5s;
}
.downLoad
{
    margin-top: 32px;
    text-align: center;
}
.button:hover
{
    box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.3);
    
}
.selfIntroduction
{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 40px;
}
section.skills
{
    max-width: 940px;
    margin: 0 auto;
    margin-top: 60px;
}
section.skills h2,
section.portfolio h2
{
    text-align: center;
    margin-bottom: 20px;
}
section.skills ol
{
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.48);
    background-color: #efefef;
    padding: 42px 50px 10px;
}
section.skills ol li:nth-child(odd)
{
    float: left;
    width: 47.5%;
    padding-right: 10px;
}
section.skills ol li:nth-child(even)
{
    float: right;
    width: 47.5%;
    padding-right: 10px;
}
.skills .progressBar{
    height: 5px;
    /* border: 1px solid red; */
    background: #fae1e1;
    border-radius: 2px;
    margin: 4px 0 40px;
}
.skills .progress
{
    background: #E6686A;
    width: 50%;
    height:100%;
    border-radius: 2px;
}
.skills h3
{
    font-size: 14px;
    line-height: 1.1;
    padding-right: 40px;
}
section.portfolio
{
    max-width: 940px;
    margin: 0 auto;
    margin-top: 60px;
    text-align: center;
}
section.portfolio nav
{
    text-align: center;
}
section.portfolio  ol
{
    text-align: center;
    display: inline-block;
}
section.portfolio  ol  li
{
    float: left;
    margin-left: 40px;
    cursor: pointer;
}
section.portfolio  ol  li:nth-child(1)
{
    margin-left: 0;
}
section.portfolio nav
{
    display: inline-block;
    vertical-align: top;
}
section.portfolio nav .bar
{
   height:5px;
   background: white;
   margin-top: 5px;
   margin-bottom: 60px;
   border-radius: 2px;
}
section.portfolio nav .barInner
{
    background: #e6686a;
    height: 100%;
    width: 10%;
    transition:  all 0.8s;
}
section.portfolio nav .bar.state-1 .barInner
{
    margin-left:0;
    width: 50px;
}
section.portfolio nav .bar.state-2 .barInner
{
    margin-left:76px;
    width: 50px;
}
section.portfolio nav .bar.state-3 .barInner
{
    margin-left:186px;
    width: 50px;
}
.works
{
    height: 577px;
}
section.portfolio .works
{
    position: relative;
}
section.portfolio .big,section.portfolio .small-1,section.portfolio .small-2
{
    position: absolute;
}
section.portfolio .big
{
    top: 0px;
    left: 0px;
}
section.portfolio .small-1
{
    top: 0px;
    left: 607px;
}
section.portfolio .small-2
{
    top: 298px;
    left: 607px;
}






